#logo-image{
  height: 50px;
}

#loginSlash{
  /* padding-top: 7px; */
  padding-left: 10px;
  padding-right: 10px;
}

#loginSignUpBtn{
  text-decoration: none !important;
  background-color: transparent;
  border: 0;
}